<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文明村</title>
    <link rel="stylesheet/less" type="text/css" href="css/style.less">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/less.min.js"></script>
</head>
<body>
<div class="header">
    <div class="logo">
        <div class="c">
            <div class="logoimg">
                <img src="img/LOGO.png" alt="">
            </div>
            <div class="appname">
                桃浦镇社区服务中心
            </div>
            <div class="loginstatus">
                <div class="avatar-name">
                    南风博文
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="navli">
            <div class="item">
                首页
            </div>
            <div class="item">
                文明在线
            </div>
            <div class="item">
                志愿服务
            </div>
            <div class="item">
                未成年人
            </div>
            <div class="item">
                关于我们
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="cv-m-c">
        <div class="cv-nav">
            当前位置：<a href="#">主页</a>&rarr;<a href="#">志愿服务</a>&rarr;<a href="#">文明村</a>
        </div>
        <div class="cv-t-list">
            <ul>
                <li>
                    <img src="img/first/01_03.png"/>
                    <div class="cv-l-text">
                        <a href="#">
                        <h4>关于做好2017普陀区未成年人暑期的工作</h4>
                        <p>桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募 </p>
                        <span>2017/08/18</span>
                        </a>
                    </div>
                </li>
                <li>
                    <img src="img/first/01_03.png"/>
                    <div class="cv-l-text">
                        <a href="#">
                        <h4>关于做好2017普陀区未成年人暑期的工作</h4>
                        <p>桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募 </p>
                        <span>2017/08/18</span>
                        </a>
                    </div>
                </li>
                <li>
                    <img src="img/first/01_03.png"/>
                    <div class="cv-l-text">
                        <a href="#">
                        <h4>关于做好2017普陀区未成年人暑期的工作</h4>
                        <p>桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募桃浦镇社区李子园站志愿者招募 </p>
                        <span>2017/08/18</span>
                        </a>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class="cv-page">
            <ul class="pagination">
                <li><a href="#">&lt;上一页</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">下一页&gt;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="f-site-copyright">
        <div class="f-site-left">
            <img src="img/dz.png" alt="">
        </div>
        <div class="f-site-right">
            <div class="f-desc">桃浦镇社区服务中心办公室 Email ： remonzilong@sina.com</div>
            <div class="f-desc">请将量是用chrome 或者IE 8 以上的浏览器版本 Email ： remonzilong@sina.com</div>
        </div>
    </div>
    <div class="f-black">

    </div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('.carousel').carousel()
    })
</script>
</body>
</html>