<%
layout("../layouts/platform.html"){
%>


		<div class="content">
			<div class="content_1">
				<div class="lunB">
						<div class="igs">
							<%for(b in banner){%>

								<div class="ig"><img src="${b.imgurl}"></div>
							<!--<div class="ig"><img src="/assets/web/img/lun-20.jpg"></div>-->
							<!--<div class="ig"><img src="/assets/web/img/lun-30.jpg"></div>-->
							<%}%>
						</div>
						<div class="btn btn1"><</div>
						<div class="btn btn2">></div>
						<div class="tabs">
							<%for(b in banner){%>
							<div class="tab bg"></div>
							<!--<div class="tab"></div>-->
							<!--<div class="tab"></div>-->
							<%}%>
						</div>
				</div>
				<div class="toDayTao">
					<div class="content_2">
						<div class="government">
                   			<h3> 桃浦镇推进中小河道治理</h3>
                    		<span> 桃浦镇推进中小河道治理桃浦镇推进中小河道治理</span>
               			</div>
               			<div class="txt2">
               		 		<ul>
                   				<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">习近平给那些人写过信?</a>   <span>2015-1-1</span></li>
                   				<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">习近平给那些人写过信?</a>   <span>2015-1-1</span></li>
                  				<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">习近平给那些人写过信?</a>   <span>2015-1-1</span></li>
                  				<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">习近平给那些人写过信?</a>   <span>2015-1-1</span></li>
                  				<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">习近平给那些人写过信?</a>   <span>2015-1-1</span></li>
                  				<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">习近平给那些人写过信?</a>   <span>2015-1-1</span></li>
               				</ul>
             	  		</div>
					</div>
					<div class="txt1">
							<a href="javascript:">今日桃浦</a>
					</div>
				</div>
			</div>
		</div>

		<div class="center">
			<div class="center_1">
				<div class="civilization">
           			<div class="title">
                		<a href="javascript:;">文明桃浦</a>
            		</div>
            		<div class="img">
	          			<a href="javascript:"><img src="/assets/web/img/wenm_03.jpg"/></a>
	           			<a href="javascript:"><img src="/assets/web/img/wenm_05.png"/></a>
	           			<a href="javascript:"><img src="/assets/web/img/wenm_09.jpg"/></a>
	           			<a href="javascript:"><img src="/assets/web/img/wenm_10.jpg"/></a>
           			</div>
       			</div>

				<div class="education">
					<div class="title-1">
                		<a href="javascript:;">未成年人教育</a>
            		</div>
            		<div class="txt3">
               		 	<ul>
                   			<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:" >习近平给那些人写过信?</a>   <span>[2015.1.1]</span></li>
                   			<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:" >习近平给那些人写过信?</a>   <span>[2015.1.1]</span></li>
                  			<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:" >习近平给那些人写过信?</a>   <span>[2015.1.1]</span></li>
                  			<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:" >习近平给那些人写过信?</a>   <span>[2015.1.1]</span></li>
                  			<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:" >习近平给那些人写过信?</a>   <span>[2015.1.1]</span></li>
               			</ul>
             		</div>
             	</div>
				<div class="img1">
                    <div class="dl_1">
                        <a href="javascript:"style="float: left;padding-left:5%;color:white">志愿者登录</a><a href="javascript:"style="float: right;padding-right:5%;color: #EB6A18">志愿组织登录</a>
                    </div>
                    <div class="dl_2">
                        <li style="margin-top:10%;"><img src="/assets/web/img/eleventh/dlu_07.jpg"><input type="text" placeholder="用户名/志愿者账号/志愿组织账号"></li>
                        <li><img src="/assets/web/img/eleventh/dlu_10.jpg"><input type="password" placeholder="密码"></li>
                        <input type="submit" value="登录" style="position: absolute;right: 2%;top:-1%;height: 80%;width: 25%;background-color: #FF8B0F;border-radius: 5px;">
                    </div>
                    <div class="dl_3">
                        <input type="button" value="注册成为志愿者">
                        <input type="button" value="注册成为志愿组织">
                    </div>
				</div>
			</div>
		</div>

		<div class="img2">
			<div class="img2_1">
				<img src="/assets/web/img/banner.png" />
			</div>
		</div>

		<div class="vulen">
			<div class="vulen_1">
				<div class="xiangMu">
					<div class="xiangm">
						<div class="txt4">
							<a href="javascript:"><img src="/assets/web/img/anniu.png">志愿项目<span>更多》</span></a>
						</div>
						<div class="txt6">
							<div class="txt7">
								<img src="/assets/web/img/volun_03.png" />
								<p>桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘</p>
							</div>
						</div>
						<div class="txt8">
							<ul>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
							</ul>
						</div>
					</div>
					<div class="zhiYuan">
						<div class="txt5">
							<a href="javascript:"><img src="/assets/web/img/anniu.png">志愿团队<span>更多》</span></a>
						</div>
						<div class="txt9">
							<div class="txt10">
								<img src="/assets/web/img/volun_03.png" />
								<p>桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘</p>
							</div>
						</div>
						<div class="txt11">
							<ul>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="gongGao">
					<div class="gongg">
						<a href="javascript:">公告</a>
					</div>
					<div class="fuw">
						<ul>
							<li><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li class="bg-color"><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li class="bg-color"><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li class="bg-color"><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li class="bg-color"><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
							<li class="bg-color"><img src="/assets/web/img/xian-fu.png">&nbsp;<a href="javascript:">桃浦镇市环境综合整治服务......</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="activity">
			<div class="activity_1">
				<div class="active">
					<div class="xiangm">
						<div class="txt4">
							<a href="javascript:"><img src="/assets/web/img/anniu.png">志愿项目<span>更多》</span></a>
						</div>
						<div class="txt6">
							<div class="txt7">
								<img src="/assets/web/img/volun_03.png" />
								<p>桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘</p>
							</div>
						</div>
						<div class="txt8">
							<ul>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
							</ul>
						</div>
					</div>
					<div class="zhiYuan">
						<div class="txt5">
							<a href="javascript:"><img src="/assets/web/img/anniu.png">志愿团队<span>更多》</span></a>
						</div>
						<div class="txt9">
							<div class="txt10">
								<img src="/assets/web/img/volun_03.png" />
								<p>桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘桃浦镇区李子园站志愿者招聘</p>
							</div>
						</div>
						<div class="txt11">
							<ul>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
								<li><img src="/assets/web/img/dasanjiao.png">&nbsp;<a href="javascript:">桃浦镇区李子园站志愿者招聘</a> <span>[2015.1.1]</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="pic">
					<a href="javascript:"><img src="/assets/web/img/shehuizhuyi.png" style="width: 100%;margin-top: 35px;"/></a>
					<a href="javascript:"><img src="/assets/web/img/zhongguomeng.png" style="width: 100%;margin-top: 2px;"/></a>
				</div>
			</div>
			</div>


			<div class="pingPai">
				<div class="pPai">
					<div class="pic2">
						<div class="ppai">
							<a href="javascript:"><img src="/assets/web/img/anniu.png">品牌项目</a>
						</div>
   						<div class="wrapper">
                            <img src="/assets/web/img/eleventh/zy_btn_03.jpg" style="width: 17px; height: 38px;margin-top:8%;cursor: pointer"/>
                            <img src="/assets/web/img/eleventh/zy_11_03.jpg"style="width: 21%; height: 70%" />
                            <img src="/assets/web/img/eleventh/zy_11_03.jpg" style="width: 21%; height:70%"/>
                            <img src="/assets/web/img/eleventh/zy_11_03.jpg" style="width: 21%; height: 70%"/>
                            <img src="/assets/web/img/eleventh/zy_11_03.jpg"style="width: 21%; height: 70%" />
                            <img src="/assets/web/img/eleventh/zy_btn_05.jpg"style="width: 17px; height: 38px;margin-top:8%;cursor: pointer"/>
   				   		</div>
					</div>
					<div class="pic3">
						<a href="javascript:"><img src="/assets/web/img/qibu.png" style="width: 100%;margin-top: -20px;"/></a>
						<a href="javascript:"><img src="/assets/web/img/liangxue.png" style="width: 100%;margin-top: 5px;"/></a>
					</div>
				</div>
			</div>

			<div class="finall">
				<div class="lianJie">
					<div class="ljie">
						<a href="javascript:">友情链接 </a>
					</div>
					<div class="xiala">
						<select>
							<option value="1">—上海志愿云—</option>
							<option value="2">——1997——</option>
							<option value="3">——1998——</option>
						</select>
						<select>
							<option value="1">—上海市文明网—</option>
							<option value="2">——7——</option>
							<option value="3">——8——</option>
						</select>
						<select>
							<option value="1">—普陀区文明网—</option>
							<option value="2">——7——</option>
							<option value="3">——8——</option>
						</select>
						<select>
							<option value="1">—普陀区工商联合会—</option>
							<option value="2">——7——</option>
							<option value="3">——8——</option>
						</select>
					</div>
				</div>
			</div>

		<div class="footer">
			<div class="foot_pic">
				<img src="/assets/web/img/foot_02.png"  style="width: 100%;"/>
			</div>
		</div>
<%}%>