*{padding: 0;margin: 0;font-family: "微软雅黑";}
.haorenhaoshi{width: 73%; height: 1700px;margin: 0 auto}
.weizhi{color:#EB7A4A;background: #f1f1f1 ; width: 100% ;margin-top: 20px;}
.renxuan{width:100%;margin-top: 20px;position:relative;}
.renxuan ul li {cursor:pointer;float: left;/* margin-right:4px;padding-right: 400px; */line-height: 40px;text-align: center;list-style: none ;background-color:#A1A1A1;width:33%;height:40px;display:block;}
.renxuan ul li:hover,.bg{background-image: url(../img/01_04.png);background-size:100% 100%;background-color:none;}
.renxuan ul li a{color:#fff;text-decoration: none;}

.shijiarenxuan{width:100%;margin-top: 40px;border: 1px solid #FFFFFF;}
.shijiarenxuan ul li h3{display: inline-block;margin-top: -240px;padding: 10px;}
.shijiarenxuan ul li p{padding: 10px;overflow: inherit;}
.shijiarenxuan ul li span{position:absolute;right: 0; top: 90%;}
.shijiarenxuan ul li{height:200px;list-style: none;margin-top: 40px; border: 1px solid #DFDDDE;position: relative;}
.shijiarenxuan  img{width:25%;height:100%; }
.text{position:absolute;left: 25%;height: 100%;top: 0;width: 75%;}
.shijiarenxuan .name{font-size: 18px;font-weight:600;position: relative; bottom: 180px;margin-left: 20px}
.num{margin:0 auto;height: 20px;width: 33%; padding-top: 70px;}
.num li{cursor:pointer;color:blue;list-style: none;float: left;height: 15px;text-align:center;width: 15px;padding: 2px ;border: 1px solid #E2E2E2;margin-left: 5px;}

/*.shijiarenxuan .text{padding-left: 30px; }*/
